<%- include ("../partials/header") %>

<div class="container"> <!--to create spacing on sides-->

	<header class="jumbotron">
		<div class="container"> <!--when we shrink we have spaces on sides-->

			<h1>Welcome to Yelpcamp!</h1>
			<p>Campgrounds to make your evenings delightful</p>
			<p>
				<a class="btn btn-info btn-lg" href="/campgrounds/new">Add a campground</a>
			</p>

		</div>
	</header>

	<div class="row thumbnail">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6 d-flex justify-content-around">
			<figure class="figure">
				<div class="image-responsive">
					<img src=" <%= campground.image %> "style="height: 190px;">
				</div>
				<hr>
				<figcaption class="figure-caption text-center"><h5><strong><%= campground.name%>					</strong></h5></figcaption>
				<p>
					<figcaption class="figure-caption text-center"><a href="/campgrounds/<%= 								campground._id %>" class="btn btn-info">More info</a>								</figcaption>
				</p>
				<hr>
			</figure>	
		</div>	
		<% }) %>
	</div>

</div>

<%- include ("../partials/footer") %>